/* General */

.root {
    -fx-background-color: linear-gradient(from 10px 10px to 300px 300px, #3E4E50, #506568);
    -fx-font-family: "Futura";
    -fx-text-fill: #F1F0EA;
}

/* Common controls */

.button {
    -fx-background-color: #F1F0EA;
    -fx-text-fill: #3E4E50;
    -fx-background-radius: 15px;
}
.label{
    -fx-text-fill: #F1F0EA;
    -fx-text-alignment: center;
}

/* Bar Chart */

#originAxis #numberAxis {
    -fx-text-fill: #F1F0EA;
    -fx-tick-label-fill: #F1F0EA;
}
.chart-legend {
    -fx-background-color: transparent;
}
.chart-plot-background {
    -fx-background-color: #F1F0EA;
}
.chart-vertical-grid-lines {
    -fx-stroke: #E0DDCF;
}
.chart-horizontal-grid-lines {
    -fx-stroke: #E0DDCF;
}

/* Table View */

.table-view .table-column {
    -fx-background-color: #506568;
    -fx-text-fill: #F1F0EA;
}

.table-view .label {
    -fx-text-fill: #F1F0EA;
}

